USE [master]
GO
/****** Object:  Database [dvd]    Script Date: 14.02.2025 10:13:02 ******/
CREATE DATABASE [dvd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dvd', FILENAME = N'D:\SQL\BD\dvd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dvd_log', FILENAME = N'D:\SQL\Logo\dvd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dvd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dvd]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 14.02.2025 10:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](50) NULL,
	[surname] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[patronymic] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 14.02.2025 10:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](50) NULL,
	[id_role] [int] NOT NULL,
	[surname] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[patronymic] [varchar](50) NULL,
	[login] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 14.02.2025 10:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[id_genre] [int] NOT NULL,
	[year_of_release] [date] NULL,
	[rental_cost] [decimal](16, 2) NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 14.02.2025 10:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 14.02.2025 10:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[id_rental] [int] NOT NULL,
	[id_film] [int] NOT NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 14.02.2025 10:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[rent_date] [date] NULL,
	[id_client] [int] NOT NULL,
	[id_employee] [int] NOT NULL,
	[rent_period_day] [int] NULL,
	[rent_cost] [money] NULL,
 CONSTRAINT [PK_Rental] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 14.02.2025 10:13:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [phone], [surname], [name], [patronymic]) VALUES (1, N'9124651234', N'Аббасов', N'Николай', N'Витальевич')
INSERT [dbo].[Client] ([ID], [phone], [surname], [name], [patronymic]) VALUES (2, N'9457682311', N'Ветохина', N'Алла', N'Николаевна')
INSERT [dbo].[Client] ([ID], [phone], [surname], [name], [patronymic]) VALUES (3, N'9754882164', N'Карагандина', N'Резеда', N'Рамисовна')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [phone], [id_role], [surname], [name], [patronymic], [login], [password]) VALUES (1, N'9179196435', 1, N'Админов', N'Серей', N'Игоревич', N'1', N'1')
INSERT [dbo].[Employee] ([ID], [phone], [id_role], [surname], [name], [patronymic], [login], [password]) VALUES (2, N'9467253861', 2, N'Кассиров', N'Кеша', N'Геннадьевич', N'2', N'2')
INSERT [dbo].[Employee] ([ID], [phone], [id_role], [surname], [name], [patronymic], [login], [password]) VALUES (3, N'9600234578', 2, N'Валенкова', N'Ирина', N'Васильевна', N'kassir', N'123')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([ID], [title], [id_genre], [year_of_release], [rental_cost]) VALUES (1, N'Приключения Шурика 1', 10, CAST(N'1998-05-01' AS Date), CAST(350.00 AS Decimal(16, 2)))
INSERT [dbo].[Film] ([ID], [title], [id_genre], [year_of_release], [rental_cost]) VALUES (2, N'Шрек', 1, CAST(N'2003-06-05' AS Date), CAST(420.00 AS Decimal(16, 2)))
INSERT [dbo].[Film] ([ID], [title], [id_genre], [year_of_release], [rental_cost]) VALUES (3, N'Люди Икс', 2, CAST(N'1999-12-09' AS Date), CAST(500.00 AS Decimal(16, 2)))
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([ID], [title]) VALUES (1, N'Мультфильм')
INSERT [dbo].[Genre] ([ID], [title]) VALUES (2, N'Триллер')
INSERT [dbo].[Genre] ([ID], [title]) VALUES (3, N'Комедия')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipt] ON 

INSERT [dbo].[Receipt] ([ID], [id_rental], [id_film]) VALUES (1, 1, 2)
INSERT [dbo].[Receipt] ([ID], [id_rental], [id_film]) VALUES (2, 4, 1)
INSERT [dbo].[Receipt] ([ID], [id_rental], [id_film]) VALUES (3, 5, 5)
SET IDENTITY_INSERT [dbo].[Receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[Rental] ON 

INSERT [dbo].[Rental] ([ID], [rent_date], [id_client], [id_employee], [rent_period_day], [rent_cost]) VALUES (1, CAST(N'2024-02-10' AS Date), 1, 2, 7, 400.0000)
INSERT [dbo].[Rental] ([ID], [rent_date], [id_client], [id_employee], [rent_period_day], [rent_cost]) VALUES (2, CAST(N'2024-02-11' AS Date), 2, 2, 14, 800.0000)
INSERT [dbo].[Rental] ([ID], [rent_date], [id_client], [id_employee], [rent_period_day], [rent_cost]) VALUES (3, CAST(N'2024-03-01' AS Date), 3, 2, 3, 250.0000)
SET IDENTITY_INSERT [dbo].[Rental] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [title]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([ID], [title]) VALUES (2, N'Кассир')
INSERT [dbo].[Role] ([ID], [title]) VALUES (3, N'Сотрудник зала')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD  CONSTRAINT [FK_Film_Genre] FOREIGN KEY([id_genre])
REFERENCES [dbo].[Genre] ([ID])
GO
ALTER TABLE [dbo].[Film] CHECK CONSTRAINT [FK_Film_Genre]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Film] FOREIGN KEY([id_film])
REFERENCES [dbo].[Film] ([ID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Film]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Rental] FOREIGN KEY([id_rental])
REFERENCES [dbo].[Rental] ([ID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Rental]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_Rental_Client] FOREIGN KEY([id_client])
REFERENCES [dbo].[Client] ([ID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_Rental_Client]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_Rental_Employee] FOREIGN KEY([id_employee])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_Rental_Employee]
GO
USE [master]
GO
